body{
    background-color: slategrey;
    font-family:sans-serif;
    text-align: center;
}

h1{
    text-align: center;
    color: goldenrod;
}
p{
    
    color: cornsilk;
}
a{
    color: black;
   
}
ul{
    list-style-position: inside;
}
ol{
    list-style-position: inside;
}